/* ============================================= */
/*              Color Variables                  */
/* ============================================= */

$white: #FFF;
$black: #000;
$green: #58e1c1;
$grey: #777;
$purple: #deb2ee;
$pink: #fd7856;
$blue: #7ee6fd;
$red: #e4757a;
$orange: #fd9f85;
$blueish: #4da2bb;

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

$break-narrow: ("min-width: 768px");