/* ============================================= */
/*              Color Variables                  */
/* ============================================= */

$black: #000;
$white: #fff;
$grey: #878787;
$orange: #b89d6b;
$tan: #df9c22;

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

$break-narrow: ("min-width: 768px");