/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $black;
}

.error {
  background-color: $black;
}

.info {
  background-color: $white;
}

.success {
  background-color: $orange;
}

.warning {
  background-color: $tan;
}
