/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
}

[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
}

.theme.col-1 {
  background-color: $purple;
}

.theme.col-2 {
  background-color: $purple;
}

.theme.col-3 {
  background-color: $purple;
}

.theme.col-4 {
  background-color: $blue;
}

.theme.col-5 {
  background-color: $green;
}

.theme.col-6 {
  background-color: $blueish;
}

.theme.col-7 {
  background-color: $red;
}

.theme.col-8 {
  background-color: $orange;
}

.theme.col-9 {
  background-color: $blue;
}

.theme.col-10 {
  background-color: $blue;
}

.theme.col-11 {
  background-color: $blue;
}

.theme.col-12 {
  background-color: $green;
}

.card {
  flex-basis: 100%;
}